<% if errors.present? %>
  <div id="error_explaination">
    <div class="alert alert-danger">
      The form contains <%= pluralize(errors.count, "errors") %>.
    </div>
    <ul id="error_explaination">
      <% errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  </div>
<% end %>