<h1> Your Cart </h1>
<%= render 'shared/error_messages', errors: @order && @order.errors %>
<table class="bordered">
	<thead>
		<td>Product</td>
		<td>Title</td>
		<td>Quantity</td>
		<td>Total Price</td>
		<td></td>
	</thead>

	<tbody>
		<% if @line_items.any? %>
		  <% @line_items.each do |line| %>
		  	<tr>
		    <%= render line %>
		    <td>
          	<%= link_to 'Delete', 
			line, method: :delete, data: {confirm: "You sure?"}  %>
          	</td>
          	<tr>
		    <% end %>

          
		<% end %>
	</tbody>

</table>

<div class="checkout">
   <%= button_to 'Check out', orders_path, method: :post, id: "btn-checkout", class: "btn" %>
</div>