

 <div class="col s3">
          <div class="card medium">

            <div class="card-image">
              <%=image_tag(product.large_image_url)%>
            </div>

            <div class="card-content">
              <%= product.title %>... 
            </div>

            <div class="card-action">
              <%= link_to 'Buy now', product %>
            </div>

          </div>
 </div>
