<div class="row">
  <h1> Recommended products </h1>
  <% if @recommended_products.any? %>
          <% @recommended_products.each do |product| %>
          <%= render product %>
    <% end %>
  <% end %>
</div>

<div class="row">
  <h1> Newest products </h1>
  <% if @newest_products.any? %>
    <% @newest_products.each do |product| %>
        <%= render product %>
    <% end %>
  <% end %>
</div>

<div class="row">
  <%= paginate @newest_products %>
</div>


  




