 <div class="col s2">
 	   <ul class="collection with-header">
        <li class="collection-header"> Category </li>
        <% Category.all.each do |cate| %>         

              <li class="collection-item"><%=link_to(cate.name, cate) %></li>
              <% end %>
    	</ul>
</div>
